<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Login Form</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'asset/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'asset/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'asset/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'asset/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'asset/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout about_pape">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'asset/images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header class="section">
         <!-- header inner -->
        <div class="header_main">
         <div class="header_main">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="carousel-caption ">
                                 <h1><strong class="color">Leo Sports</strong></h1></div>
<!--                           <div class="logo"> <a href="index.html"><img src="{% static 'asset/images/logo.png' %}" alt="#"></a> </div>-->
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li> <a href="{% url 'homepg' %}">Home</a> </li>
                                 <li> <a href="{% url 'aboutpg' %}">About</a> </li>
                                                                           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
				  {% for d in data %}

              	<a class="dropdown-item" href="{% url 'productpg' itemCatg=d.Category_Name %}">{{d.Category_Name}}</a>
				  {% endfor %}
                                 <li><a href="{% url 'contactpg' %}">Contact Us</a></li>

                                   <li class="nav-item dropdown">
                                       <li class="nav-item">
                {% if request.session.user %}
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-user"></span>{{request.session.user}}</a>
                                       {% else %}
                                         <a href="{% url 'registerloginpg' %}" class="nav-link">SIGN UP/LOG IN</a></li>
                                   <li class="nav-item dropdown">
                {% endif %}
                <div class="dropdown-menu" aria-labelledby="dropdown04">
<!--                    <a class="dropdown-item" href=""><span class="icon-shopping_cart"></span>Cart</a>-->
                    <a class="dropdown-item" href="{% url 'customerlogout' %}">Log Out</a>
                                 <li class="last"><a href="#"><img src="{% static 'asset/images/search_icon.png' %}" alt="icon"/></a></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header><br><br><br><br>



   <section class="ftco-section contact-section bg-light" style="height:100px;">
            <div style="margin-left:800px;"><h1>Login Or Register</h1></div>
        </section><br><br><br>

       <div class="row">
                  <div class="col-md-6 grid-margin stretch-card">
                      <div class="card" style="width:600px; height:400px; margin-left:200px;">
                          <div class="card-body">
                              <form method="post" action="{% url 'customerlogin' %}" enctype="multipart/form-data">
                                  {% csrf_token %}
                        <h4 class="card-title">Login Form</h4>

                      <div class="form-group">
                        <label for="exampleInputName1">User Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="user">
                      </div>
                      <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" id="" placeholder="Password" name="pass"><br>
                      </div>
                                  <button type="submit" class="btn btn-dark">Sign In</button></form>

                  </div>
                  </div>
        </div>





        <div class="col-md-6 grid-margin stretch-card">
                  <div class="card" style="width:600px;">
                            <div class="card-body">

                    <h4 class="card-title">Register Form</h4>
                      <form class="forms-sample" method="post" action="{% url 'registersave' %}" enctype="multipart/form-data">
                          {% csrf_token %}
<!--                    <p class="card-description"> Basic form elements </p>-->
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">
                      </div>
                       <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" id="" placeholder="Password" name="pass">
                      </div>
                       <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" id="" placeholder="Confirm Password" name="confirm"><br>
                      </div>
                          <button type="submit" class="btn btn-dark">Create Account</button><h4>{{msg1}}</h4></form>
                  </div>
                  </div>
        </div>
        </div><br><br>



   <div id="footer" class="Address layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
               <div class="titlepage">
                  <div class="main">
                     <h1 class="address_text">Address</h1>
                  </div>
               </div>
             </div>
          </div>
               <div class="address_2">
                  <div class="row">
                     <div class="col-sm-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="{% static 'asset/images/map-icon.png' %}" /></span>
                          <span style="margin-top: 10px;">No.123 Chalingt Gates, Supper market New York</span></div>
                     </div>
                     <div class="col-sm-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="{% static 'asset/images/phone-icon.png' %}" /></span>
                          <span style="margin-top: 21px;">( +71 7986543234 )</span></div>
                     </div>
                     <div class="col-sm-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="{% static 'asset/images/email-icon.png' %}" /></span>
                          <span style="margin-top: 21px;">froice@gmail.com</span></div>
                     </div>
                     </div>
                  </div>
               </div>
                  <div class="menu_main">
                     <div class="menu_text">
                        <ul>
                           <li class="active"><a href="#">Home</a></li>
                           <li><a href="about.html">About</a></li>
                           <li><a href="clothes.html">Clothes</a></li>
                           <li><a href="clients.html">Shop</a></li>
                           <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
       </div>
    </div>

      <!-- end Contact Us-->
      <!-- footer start-->
      <div id="plant" class="footer layout_padding">
         <div class="container">
            <p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
         </div>
      </div>

      <!-- Javascript files-->
      <script src="{% static 'asset/js/jquery.min.js' %}"></script>
      <script src="{% static 'asset/js/popper.min.js' %}"></script>
      <script src="{% static 'asset/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'asset/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'asset/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'asset/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'asset/js/custom.js' %}"></script>
      <!-- javascript -->
      <script src="{% static 'asset/js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      {% if messages %}
        {% for i in messages %}

      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      {% if i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning');
      </script>
      {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error');
      </script>
      {% else %}
      <script>
        swal('{{i}}','','success');
      </script>
      {% endif %}

      {% endfor %} {% endif %}
<!--      <script>-->
<!--         $(document).ready(function(){-->
<!--         $(".fancybox").fancybox({-->
<!--         openEffect: "none",-->
<!--         closeEffect: "none"-->
<!--         });-->

<!--         $(".zoom").hover(function(){-->

<!--         $(this).addClass('transition');-->
<!--         }, function(){-->

<!--         $(this).removeClass('transition');-->
<!--         });-->
<!--         });-->

<!--      </script>-->


</body>
</html>